<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<% if @article.image.attached? %>
  <%= image_tag @article.image, width: "300", height: "200" %>
<% end %>

<ul>
  <% if can? :update, @article %>
    <button><%= link_to "Edit", edit_article_path(@article) %></button>
  <% end %>

  <% if can? :destroy, @article %>
    <button><%= link_to "Destroy", article_path(@article), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %></button>

  <%else%>
    <%= link_to "Report", report_article_path(@article), data: {
      turbo_method: :post,
      turbo_confirm: "Are you sure?"} %>
  <% end %>


  
</ul>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
